.home-container {
  font-family: "Poppins", sans-serif;
  color: #1f2937;
}

/* Hero Section with image */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://www.birlaevara.org.in/images/birla/community-living-at-birla-evara-kodathi-sarjapur-road-events-clubs-and-everyday-life.webp")
      center/cover no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 1rem; */
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: fadeInDown 1s ease;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  animation: fadeInUp 1s ease;
}

.btn-primary {
  background-color: #facc15;
  color: #1f2937;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #eab308;
  transform: scale(1.05);
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .feature-cards {
    flex-direction: column;
    align-items: center;
  }
}
